*{
    margin: 0px;
    padding: 0px;
}
.m{
    font-weight:bold;
    font-style: italic;
    font-size: 35px;
    color: blue;
}
.mdn{
    margin-left: -10px;
    font-weight: bold;
    font-size: 25px;
}
.nav{
    color: grey;
    font-size: 20px;
}
.theme{
    font-size: 20px;
}

.header1, .header2{
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    border: 1px solid black;
    width: 100%;
    padding: 10px 0px;   
}
.header1{
    position: fixed;
    top: 0;
    z-index: 1000;
}
.header2{
    position: fixed;
    top: 80px;
    z-index: 1000;
}


.search_box{
    width: 50px;
    height: 30px;
    /* border-top-left-radius:20px ;
    border-bottom-left-radius:20px ; */
    border-radius: 20px;

}
.search_icon{
    display: flex;
    justify-content: center;
    align-items: center;
   /* border: 1px solid black; */
   /* height: 30px;  */
}


.header1_left, .header2_left{
    margin-left: 20px;
}
.header1_right, .header2_right{
    margin-right: 40px;
}
.header1_items, .header2_items{
    margin: 10px;
}
.already{
    font-size: 18px;
}
.header1_right button{
    font-size: 18px;
    color: white;
    background-color:black;
    padding: 10px;
}


.main{
    display: flex;
    justify-content: space-between;
    
}
.left{
    border: 1px solid black;
    width: 20%;
    position: fixed;
    left: 0;
    top: 120px;
    overflow-y: scroll;
}
.center{
    border: 1px solid blue;
    width: 60%;
    position: absolute;
    left: 20%;
    top:120px; 
    display: flex;
    flex-direction: column;
    padding: 5px;
   
}    
.right{
    border: 1px solid tomato;
    width:20%;
    position: fixed;
    right: 0;
    top: 120px;
}

ul li{
    list-style: none;
    padding: 20px;
}

